/* div {
    background-color: #8d5fe9;
} */

body {
    color: #444;
    background: #fafafa;
background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(218, 165, 32, 1) 50%, rgba(255, 255, 255, 1) 100%);
/* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 36%, rgba(0, 212, 255, 1) 100%); */
min-height: 100vh;
font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.profile{
    margin-top: 100px;
    margin-bottom: 56px;
}

.profile__header, .profile__about{
    text-align: center;
}

.profile__header h1, .profile__header h2 {
    margin: 0;
}

.profile__header h2 {
    font-weight: 400;
}

.profile__header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    margin: 0 auto 24px auto;
}
.destaque {
    color: burlywood;
}

.profile__about .destaque{
    color: white;
}

a.destaque{
    color: blue;
}

.links ul {
    list-style: none;
}

.links a {
    display: flex;
    height: 56px;
    border: solid #444 1px;
    border-radius: 35px;
    text-decoration: none;
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: #444;
    font-weight: 600;
    font-size: 18px;
}

.links a:hover{
    border: solid #fff 1px;
    color: #fff;
    background-color: gray;
}

.links__item {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .profile__about {
        font-size: 20px;
    }
}

/* Styling do View More */
.view-more {
    margin-bottom: 56px;
}

.view-more .view-more__content {
    max-height: auto;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
    transition: max-height 0.5s ease-in-out; /* Adiciona efeito suave de abertura */
}

.view-more .view-more--expand .view-more__content {
    max-height: unset;
}

.view-more:not(.view-more--expand) .view-more__content::after {
    content: "";
    top: 90px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    /* background: linear-gradient(0deg, rgba(218, 165, 32, 0.8) 10%, rgba(255, 255, 255, 0) 70%); */
    /* background: linear-gradient(0deg, rgba(218, 165, 32, 0.8) 0%, rgba(250, 250, 250, 0) 100%); */
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(218, 165, 32, 1) 50%, rgba(255, 255, 255, 0) 95%); */
    transition: opacity 0,5s ease-in-out;
}

.view-more:not(.view-more--expand) .view-more-collapse {
    display: none;
}
.view-more.view-more--expand .view-more-expand {
    display: none;
}

.view-more .view-more__actions {
    text-align: center;
    width: 100%;
}

.view-more .view-more__actions button {
    color:#fafafa;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

.view-more .view-more__actions button:hover {
    background-color: gray;
    border: solid #fff 1px;
    border-radius: 10px;
}

.view-more .links li:nth-child(n+3) { 
    display: none; /* Oculta todos a partir do terceiro */
}

.view-more.view-more--expand .links li:nth-child(n+3) { 
    display: block; /* Mostra todos ao expandir */
}

.trace {
border-bottom: solid 2px #555; /* Borda Inferior para separar os accordions */
margin-bottom: 16px;
}

.space {
    margin-top: 10px;
}