html, body {
    font-family: sans-serif;
    background-color: #242424;
    color: #bfbfbf;
}

html * {
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    width: 100%;
    padding: 0, 10px;
    margin: 0 auto;
    display: block;
}

/* Styling do ViewMore */
.view-more {
    margin-bottom: 56px;
}

.view-more .view-more__content {
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
    /* transition: max-height 0.5s ease-in-out; */
}

.view-more.view-more--expand .view-more__content {
    max-height: 999px;
}

.view-more:not(.view-more--expand) .view-more__content::after {
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 120px;
    background: linear-gradient(0deg, #242424 16.08%, rgba(255, 255, 255, 0.00) 74.54%);
    transition: opacity 0.5s ease-in-out;
}

.view-more:not(.view-more--expand) .view-more-collapse {
    display: none;
}
.view-more.view-more--expand .view-more-expand {
    display: none;
}

.view-more .view-more__actions {
    text-align: center;
    width: 100%;
}

.view-more .view-more__actions button {
    color:goldenrod;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

/* Styling do Accordion */
.accordion {
    border-bottom: solid 2px #bfbfbf; /* Borda Inferior para separar os accordions */
}

.accordion summary {
    color: #bfbfbf; /*Cor do titulo de accordion fechado*/
    font-size: 20px; /*Tamanho da fonte*/
    font-style: normal; /*Estilo da fonte do titulo*/
    font-weight: 600; /*Peso da fonte do titulo*/
    cursor: pointer; /*Cursor indicativo de ação*/
    width: 100%; /*Largura completa*/
    display: flex; /*Usa uma flexbox para alinhamento*/
    padding: 32px 0; /*Espaçamento vertical do título*/
    align-items: center; /*Alinha itens verticalmente ao centro*/
    justify-content: space-between; /*Espaçamento entre os itens*/
}

.accordion p {
    color: #bfbfbf; /*Cor do texto do conteudo*/
    font-size: 16px; /*Tamanho da fonte do conteudo*/
    font-style: normal; /*Estilo normal da fonte*/
    font-weight: 400; /*Peso da fonte do conteudo*/
    margin: 0; /*Remove as margens padrao*/
    margin-bottom: 16px; /*Espaço abaixo de cada paragrafo*/
}

.accordion p:last-child {
    margin-bottom: 0; /*Remove a mergem do ultimo paragrafo*/
}

.accordion[open] summary {
    padding-bottom: 16px; /*Ajuste do espaçamento de titulo*/
    color: goldenrod;
}

/* Styling do Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: none;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal .modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal .modal__content {
    width: 100%;
    max-width: 600px;
    position: relative;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
}

.modal .modal__content .modal__content__header h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
    color: #324054
}

.modal .modal__content .modal__content__body {
    flex: 1;
    overflow: auto;
}

.modal .modal__content .modal__content__body p {
    font-style: normal;
    font-weight: 400;
    color: #242424;
}

/* Styling do tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120%;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover {
    color: goldenrod;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

label.class {
    display: block;
}